In [2]:
'''1. Write a NumPy program to multiply two given arrays of same size element-by-
element.'''

import numpy as np
array1=np.array([5,8,9,10])
array2=np.array([1,3,5,7])
result=array1*array2
print("array after multiplication")
print(result)

array after multiplication
[ 5 24 45 70]

In [3]:
'''2. Write a NumPy program to find the missing data in a given array'''

import numpy as np
arr1=np.array([1,np.nan,3,np.nan,5,np.nan])
missed_indices=np.isnan(arr1)
print("Indices of missing data:")
print(missed_indices)

Indices of missing data:
[False  True False  True False  True]

In [5]:
'''3. Write a NumPy program to test whether each element of a 1-D array is also present in
a second array.'''

import numpy as np
custom_array1 = np.array([0, 10, 20, 30, 40])
print("custom_array1:", custom_array1)
custom_array2 = [0, 30]
print("custom_array2:", custom_array2)
print("Compare each element of custom_array1 and custom_array2")
print(np.in1d(custom_array1, custom_array2))

custom_array1: [ 0 10 20 30 40]
custom_array2: [0, 30]
Compare each element of custom_array1 and custom_array2
[ True False False  True False]

In [6]:
'''4. Write a NumPy program to save a NumPy array to a text file.'''

import numpy as np
data=np.array([[4,5,6], [7,8,9], [10,11,12]])
file_path='path_array.txt'
np.savetxt(file_path,data,fmt='%d',delimiter=',')
print(" successfully Array saved to",file_path)

 successfully Array saved to path_array.txt

In [7]:
''' 5. Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between
2.5. and 6.5, inclusive.'''

import numpy as np
custom_array = np.linspace(2.5, 6.5, 30)
print("Custom 1-D array of 30 evenly spaced elements between 2.5 and 6.5, inclusive:")
print(custom_array)

Custom 1-D array of 30 evenly spaced elements between 2.5 and 6.5, inclusive:
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [8]:
                             # Introduction to Pandas (Series and Dataframes)

In [21]:
'''1. Write a Pandas program to convert Series of lists to one Series.'''

import pandas as pd
custom_series = pd.Series([[5,6,7], [17,18,19], [51,55,56]])
flattened_result = pd.Series([item for sublist in custom_series for item in sublist])
print("Original Series:")
print(custom_series)
print("\nFlattened Series:")
print(flattened_result)

Original Series:
0       [5, 6, 7]
1    [17, 18, 19]
2    [51, 55, 56]
dtype: object

Flattened Series:
0     5
1     6
2     7
3    17
4    18
5    19
6    51
7    55
8    56
dtype: int64

In [23]:
'''2. Write a Pandas program to create a subset of a given series based on value and
condition.'''

import pandas as pd
data_dict = {'P': 1, 'R': 2, 'A': 3, 'S': 4, 'N': 5}
custom_series = pd.Series(data_dict)
filter_value = 2
custom_condition = lambda x: x > filter_value
filtered_subset = custom_series[custom_series.apply(custom_condition)]
print("Altered Series:")
print(custom_series)
print("\nSubset based on the adjusted condition:")
print(filtered_subset)

Altered Series:
P    1
R    2
A    3
S    4
N    5
dtype: int64

Subset based on the adjusted condition:
A    3
S    4
N    5
dtype: int64

In [26]:
'''3. Write a Pandas program to display most frequent value in a given series and replace
everything else as &#39;Other&#39; in the series.'''

import pandas as pd
s = pd.Series(['sunday', 'tuesday', 'monday', 'friday', 'tuesday', 'monday', 'friday', 'sunday', 'tuesday'])
most_frequent_value = s.value_counts().index[0]
s = s.apply(lambda x: x if x == most_frequent_value else 'Other')
print(s)

0      Other
1    tuesday
2      Other
3      Other
4    tuesday
5      Other
6      Other
7      Other
8    tuesday
dtype: object

In [29]:
'''4. Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.'''

import pandas as pd
numbers = pd.Series([1, 25, 30, 45, 50, 65, 70])
positions = numbers[numbers % 5 == 0].index.tolist()
print("Positions of numbers that are multiples of 5:")
print(positions)

Positions of numbers that are multiples of 5:
[1, 2, 3, 4, 5, 6]

In [33]:
'''5. Write a Pandas program to calculate the number of characters in each word in a given
series.'''

import pandas as pd
words_series = pd.Series(['prasanna', 'divya', 'premitha', 'kavitha','pavani'])
word_lengths = words_series.str.len()
print("Number of characters in each word:")
print(word_lengths)

Number of characters in each word:
0    8
1    5
2    8
3    7
4    6
dtype: int64

In [36]:
'''6. Write a Pandas program to convert year-month string to dates adding a specified day
of the month.'''

import pandas as pd
year_month_series = pd.Series(['2022-01', '2022-06', '2022-11'])
specified_day = 3  # Choose your specified day
converted_dates = pd.to_datetime(year_month_series + '-' + str(specified_day), format='%Y-%m-%d')
print("Converted Dates:")
print(converted_dates)

Converted Dates:
0   2022-01-03
1   2022-06-03
2   2022-11-03
dtype: datetime64[ns]

In [55]:
'''7. Write a Pandas program to create and display a DataFrame from a specified
dictionary data which has the index labels.'''

import pandas as pd
data = {'Name': ['prasanna', 'Raghu', 'Premitha','Divya','pavani'],
        'Age': [20, 30, 40,40,50],
        'City': [ 'vizag','Guntur', 'Ongole','Vijayawada', 'Chennai']}

index_labels = ['Person1', 'Person2', 'Person3','Person4','Person5']
df = pd.DataFrame(data, index=index_labels)
print("DataFrame:")
print(df)

DataFrame:
             Name  Age        City
Person1  prasanna   20       vizag
Person2     Raghu   30      Guntur
Person3  Premitha   40      Ongole
Person4     Divya   40  Vijayawada
Person5    pavani   50     Chennai

In [51]:
'''8. Write a Pandas program to select the rows where the number of attempts in the
examination is greater than 2.'''

import pandas as pd
custom_data = {'student_name': ['pavani', 'Divya', 'premitha'],
               'exam_attempts': [3, 1, 2]}
custom_df = pd.DataFrame(custom_data)
filtered_rows = custom_df[custom_df['exam_attempts'] > 2]
print("Filtered Rows:")
print(filtered_rows)

Filtered Rows:
  student_name  exam_attempts
0       pavani              3

In [50]:
'''9. Write a Pandas program to append a new row &#39;k&#39; to data frame with given values for
each column. Now delete the new row and return the original DataFrame.'''

import pandas as pd
custom_data = {'student_name': ['Premitha', 'Prasanna', 'Raghu'],
               'exam_attempts': [3, 1, 2]}

custom_df = pd.DataFrame(custom_data)
new_entry = {'student_name': 'Pavani', 'exam_attempts': 4}
new_df = pd.DataFrame([new_entry], columns=['student_name', 'exam_attempts'])

custom_df = pd.concat([custom_df, new_df], ignore_index=True)
print("DataFrame after concatenating new row 'k':")
print(custom_df)
custom_df = custom_df.drop(custom_df.index[-1])
print("\nOriginal DataFrame after deleting the new row:")
print(custom_df)

DataFrame after concatenating new row 'k':
  student_name  exam_attempts
0     Premitha              3
1     Prasanna              1
2        Raghu              2
3       Pavani              4

Original DataFrame after deleting the new row:
  student_name  exam_attempts
0     Premitha              3
1     Prasanna              1
2        Raghu              2

In [48]:
'''10. Write a Pandas program to sort the DataFrame first by &#39;name&#39; in descending order,
then by &#39;score&#39; in ascending order.'''

import pandas as pd
data = {'name': ['Pavani', 'Raghu', 'Divya'],
        'score': [85, 90, 75]}
df = pd.DataFrame(data)
df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sorted DataFrame:")
print(df)

Sorted DataFrame:
     name  score
1   Raghu     90
0  Pavani     85
2   Divya     75

In [47]:
'''11. Write a Pandas program to replace the &#39;qualify&#39; column contains the values &#39;yes&#39; and
&#39;no&#39; with True and False.'''

import pandas as pd
custom_data = {'student_name': ['Prasanna', 'Raghu', 'Premitha'],
               'eligibility': ['yes', 'no', 'yes']}
custom_df = pd.DataFrame(custom_data)
custom_df['eligibility'] = custom_df['eligibility'].map({'yes': True, 'no': False})
print("DataFrame after replacing 'eligibility' column values:")
print(custom_df)

DataFrame after replacing 'eligibility' column values:
  student_name  eligibility
0     Prasanna         True
1        Raghu        False
2     Premitha         True

In [56]:
'''12. Write a Pandas program to remove infinite values from a given DataFrame.'''
import pandas as pd
import numpy as np
custom_data = {'Column1': [1, 2, np.inf, 4],
               'Column2': [5, np.inf, 7, np.inf]}
custom_df = pd.DataFrame(custom_data)
custom_df.replace([np.inf, -np.inf], np.nan, inplace=True)
custom_df.dropna(inplace=True)
print("DataFrame after removing infinite values:")
print(custom_df)

DataFrame after removing infinite values:
   Column1  Column2
0      1.0      5.0