In [2]:
import pandas as pd
df = pd.read_csv("tips.csv")
df.replace("", float("nan"), inplace=True)
for col in df.columns:
    if df[col].dtype == "float64":
        df[col].fillna(df[col].mean(), inplace=True)
    elif df[col].dtype == "object":
        df[col].fillna(df[col].mode()[0], inplace=True)
print(df)

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0   16.990000  1.01  Female     No   Sun  Dinner     2
1             1   21.360195  1.66    Male     No   Sun  Dinner     3
2             2   21.010000  3.50    Male     No   Sun  Dinner     3
3             3   23.680000  3.31    Male     No   Sun  Dinner     2
4             4   24.590000  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239   29.030000  5.92    Male     No   Sat  Dinner     3
240         240   27.180000  2.00  Female    Yes   Sat  Dinner     2
241         241   22.670000  2.00    Male    Yes   Sat  Dinner     2
242         242   17.820000  1.75    Male     No   Sat  Dinner     2
243         243   18.780000  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

df = pd.read_csv("tips.csv")

cat_cols = ['sex', 'smoker', 'day', 'time']

label_encoder = LabelEncoder()
df_label_encoded = df.copy()
df_label_encoded[cat_cols] = df_label_encoded[cat_cols].apply(label_encoder.fit_transform)

df_onehot_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=True)

ordinal_encoder = OrdinalEncoder(categories=[['Thur', 'Fri', 'Sat', 'Sun'], ['Lunch', 'Dinner']])
df_ordinal_encoded = df.copy()
df_ordinal_encoded[['day', 'time']] = ordinal_encoder.fit_transform(df[['day', 'time']])

print("Label Encoded DataFrame:")
print(df_label_encoded.head())

print("\nOne-Hot Encoded DataFrame:")
print(df_onehot_encoded.head())

print("\nOrdinal Encoded DataFrame:")
print(df_ordinal_encoded.head())

Label Encoded DataFrame:
   Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0           0       16.99  1.01    0       0    2     0     2
1           1         NaN  1.66    1       0    2     0     3
2           2       21.01  3.50    1       0    2     0     3
3           3       23.68  3.31    1       0    2     0     2
4           4       24.59  3.61    0       0    2     0     4

One-Hot Encoded DataFrame:
   Unnamed: 0  total_bill   tip  size  sex_Male  smoker_Yes  day_Sat  day_Sun  \
0           0       16.99  1.01     2         0           0        0        1
1           1         NaN  1.66     3         1           0        0        1
2           2       21.01  3.50     3         1           0        0        1
3           3       23.68  3.31     2         1           0        0        1
4           4       24.59  3.61     4         0           0        0        1

   day_Thur  time_Lunch
0         0           0
1         0           0
2         0           0
3         0           0
4         0           0

Ordinal Encoded DataFrame:
   Unnamed: 0  total_bill   tip     sex smoker  day  time  size
0           0       16.99  1.01  Female     No  3.0   1.0     2
1           1         NaN  1.66    Male     No  3.0   1.0     3
2           2       21.01  3.50    Male     No  3.0   1.0     3
3           3       23.68  3.31    Male     No  3.0   1.0     2
4           4       24.59  3.61  Female     No  3.0   1.0     4

In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df = pd.read_csv("tips.csv")

num_cols = ['total_bill', 'tip', 'size']

min_max_scaler = MinMaxScaler()
df_min_max_scaled = df.copy()
df_min_max_scaled[num_cols] = min_max_scaler.fit_transform(df[num_cols])

standard_scaler = StandardScaler()
df_standard_scaled = df.copy()
df_standard_scaled[num_cols] = standard_scaler.fit_transform(df[num_cols])

z_score_scaler = StandardScaler()
df_z_score_scaled = df.copy()
df_z_score_scaled[num_cols] = z_score_scaler.fit_transform(df[num_cols])

print("Min-Max Scaled DataFrame:")
print(df_min_max_scaled.head())

print("\nStandard Scaled DataFrame:")
print(df_standard_scaled.head())

print("\nZ-score Scaled DataFrame:")
print(df_z_score_scaled.head())

Min-Max Scaled DataFrame:
   Unnamed: 0  total_bill       tip     sex smoker  day    time  size
0           0    0.291579  0.001111  Female     No  Sun  Dinner   0.2
1           1         NaN  0.073333    Male     No  Sun  Dinner   0.4
2           2    0.375786  0.277778    Male     No  Sun  Dinner   0.4
3           3    0.431713  0.256667    Male     No  Sun  Dinner   0.2
4           4    0.450775  0.290000  Female     No  Sun  Dinner   0.6

Standard Scaled DataFrame:
   Unnamed: 0  total_bill       tip     sex smoker  day    time      size
0           0   -0.494024 -1.439947  Female     No  Sun  Dinner -0.600193
1           1         NaN -0.969205    Male     No  Sun  Dinner  0.453383
2           2   -0.039587  0.363356    Male     No  Sun  Dinner  0.453383
3           3    0.262240  0.225754    Male     No  Sun  Dinner -0.600193
4           4    0.365110  0.443020  Female     No  Sun  Dinner  1.506958

Z-score Scaled DataFrame:
   Unnamed: 0  total_bill       tip     sex smoker  day    time      size
0           0   -0.494024 -1.439947  Female     No  Sun  Dinner -0.600193
1           1         NaN -0.969205    Male     No  Sun  Dinner  0.453383
2           2   -0.039587  0.363356    Male     No  Sun  Dinner  0.453383
3           3    0.262240  0.225754    Male     No  Sun  Dinner -0.600193
4           4    0.365110  0.443020  Female     No  Sun  Dinner  1.506958

In [6]:
import pandas as pd

df['tip_percentage'] = df['tip'] / df['total_bill']

average_tip_percentage = df.groupby('size')['tip_percentage'].mean().reset_index()

average_tip_percentage.rename(columns={'tip_percentage': 'avg_tip_percentage'}, inplace=True)

df = pd.merge(df, average_tip_percentage, on='size', how='left')

print(df)

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size  \
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1         NaN  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

     tip_percentage  avg_tip_percentage
0          0.059447            0.165877
1               NaN            0.151660
2          0.166587            0.151660
3          0.139780            0.165877
4          0.146808            0.145949
..              ...                 ...
239        0.203927            0.151660
240        0.073584            0.165877
241        0.088222            0.165877
242        0.098204            0.165877
243        0.159744            0.165877

[244 rows x 10 columns]

In [10]:
import pandas as pd

data = {
    'total_bill': [16.99, 10.34, 21.01, 23.68, 24.59, 25.29, 8.77, 26.88, 15.04, 14.78],
    'tip': [1.01, 1.66, 3.5, 3.31, 3.61, 4.71, 2.0, 3.12, 1.96, 3.23]
}

df = pd.DataFrame(data)

def classify_bills(row):
    if row['total_bill'] > 10 and row['tip'] > 3:
        return 'Highest-bills-with-tips'
    else:
        return 'Normal-bills'

df['bill_and_tip_class'] = df.apply(classify_bills, axis=1)
print(df)

   total_bill   tip       bill_and_tip_class
0       16.99  1.01             Normal-bills
1       10.34  1.66             Normal-bills
2       21.01  3.50  Highest-bills-with-tips
3       23.68  3.31  Highest-bills-with-tips
4       24.59  3.61  Highest-bills-with-tips
5       25.29  4.71  Highest-bills-with-tips
6        8.77  2.00             Normal-bills
7       26.88  3.12  Highest-bills-with-tips
8       15.04  1.96             Normal-bills
9       14.78  3.23  Highest-bills-with-tips